/* 
    Introduction to Jakarta Enterprise Edition - JSP
    https://github.com/egalli64/jeep
 */
.happy {
	background-color: rgb(255, 253, 183);
}

.sleepy {
	background-color: rgb(190, 234, 250)
}

.active {
	background-color: rgb(196, 255, 196);
}